@font-face
{
	font-family: idrop-429019;
	font-style: normal;
	src: url(idrop.ttf);
}

i[class*=icon-]
{
	display: inline-block;
	font-family: idrop-429019;
	font-size: 1.20em;
	font-style: normal;
}
i.icon-th-large { content: '\e800'; }
i.icon-th-large-1 { content: '\e801'; }
i.icon-squares-1 { content: '\e802'; }
i.icon-cancel { content: '\e803'; }
i.icon-home { content: '\e804'; }