icon
{
	display: block;
	size: *;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transform: scale(1, -1);
	fill: black;
	stroke: none;
}
icon.icon-th-large { background-image: url(path:M1000 850v-440h-440v440h440z m-320-320h200v200h-200v-200z m-240 320v-440h-440v440h440z m-320-320h200v200h-200v-200z m880-240v-440h-440v440h440z m-320-320h200v200h-200v-200z m-240 320v-440h-440v440h440z m-320-320h200v200h-200v-200z); }
icon.icon-th-large-1 { background-image: url(path:M429 279v-215q0-29-22-50t-50-21h-286q-29 0-50 21t-21 50v215q0 29 21 50t50 21h286q29 0 50-21t22-50z m0 428v-214q0-29-22-50t-50-22h-286q-29 0-50 22t-21 50v214q0 29 21 50t50 22h286q29 0 50-22t22-50z m500-428v-215q0-29-22-50t-50-21h-286q-29 0-50 21t-21 50v215q0 29 21 50t50 21h286q29 0 50-21t22-50z m0 428v-214q0-29-22-50t-50-22h-286q-29 0-50 22t-21 50v214q0 29 21 50t50 22h286q29 0 50-22t22-50z); }
icon.icon-squares-1 { background-image: url(path:M311 504l489 0c36 0 65-30 65-65l0-404c0-35-29-65-65-65l-489 0c-35 0-65 30-65 65l0 404c0 35 30 65 65 65z m454-94l-419 0 0-346 419 0 0 346z m-146 181l-101 0 0 44-417 0 0-336 58 0 0-95-93 0c-36 0-66 30-66 65l0 395c0 36 30 66 66 66l488 0c36 0 65-30 65-66l0-73z); }
icon.icon-cancel { background-image: url(path:M0 90q0 36 26 62l195 195-195 196q-26 25-26 61t26 61 61 25 61-25l196-196 195 196q25 25 61 25t61-25 25-61-25-61l-195-196 195-195q25-26 25-62t-25-61q-25-25-61-25t-61 25l-195 195-196-195q-25-25-61-25t-61 25q-26 26-26 61z); }
icon.icon-home { background-image: url(path:M888 336q16-16 11-27t-27-11l-84 0 0-310q0-14-1-21t-8-13-23-6l-204 0 0 310-204 0 0-310-194 0q-28 0-35 10t-7 30l0 310-84 0q-22 0-27 11t11 27l400 402q16 16 38 16t38-16z); }
