@font-face
{
	font-family: idrop-966103;
	font-style: normal;
	src: url(idrop.ttf);
}

i[class*=icon-]
{
	display: inline-block;
	font-family: idrop-966103;
	font-size: 1.20em;
	font-style: normal;
}
i.icon-th-large { content: '\e800'; }
i.icon-th-large-1 { content: '\e801'; }
i.icon-squares-1 { content: '\e802'; }
i.icon-cancel { content: '\e803'; }
i.icon-home { content: '\e804'; }
i.icon-forward { content: '\e805'; }
i.icon-help-circled { content: '\e806'; }
i.icon-help-circled-1 { content: '\e807'; }
i.icon-plus { content: '\e808'; }
i.icon-cancel-1 { content: '\e809'; }
i.icon-cancel-circled-outline { content: '\e80a'; }
i.icon-resize-full { content: '\e80b'; }
i.icon-resize-small { content: '\e80c'; }
i.icon-resize-full-1 { content: '\e80d'; }
i.icon-resize-normal { content: '\e80e'; }
i.icon-dot-3 { content: '\e80f'; }
i.icon-folder-open { content: '\e810'; }
i.icon-fontsize-1 { content: '\e811'; }
i.icon-download { content: '\e812'; }
i.icon-list-add { content: '\e813'; }
i.icon-folder { content: '\e814'; }
i.icon-eye { content: '\e815'; }
i.icon-eye-1 { content: '\e816'; }
i.icon-home-1 { content: '\e817'; }
i.icon-list { content: '\e818'; }
i.icon-menu-1 { content: '\e819'; }
i.icon-pencil { content: '\e81a'; }
i.icon-pencil-neg { content: '\e81b'; }
i.icon-pencil-1 { content: '\e81c'; }
i.icon-pencil-2 { content: '\e81d'; }
i.icon-minus { content: '\e81e'; }
i.icon-minus-1 { content: '\e81f'; }
i.icon-left { content: '\e820'; }
i.icon-left-big { content: '\e821'; }
i.icon-left-open { content: '\e822'; }
i.icon-search { content: '\e823'; }
i.icon-flag-filled { content: '\e824'; }
i.icon-picture { content: '\e825'; }
i.icon-link { content: '\e826'; }
i.icon-search-1 { content: '\e827'; }
i.icon-help-circled-alt { content: '\e828'; }
i.icon-armoury-01 { content: '\e829'; }
i.icon-playlist-plus { content: '\e82a'; }
i.icon-plus-1 { content: '\e82b'; }
i.icon-home-2 { content: '\e82c'; }
i.icon-home-3 { content: '\e82d'; }
i.icon-down-dir { content: '\e82e'; }
i.icon-up-dir { content: '\e82f'; }
i.icon-trash { content: '\e830'; }
i.icon-trash-2 { content: '\e831'; }
i.icon-vector-pencil { content: '\e832'; }
i.icon-pattern { content: '\e833'; }
i.icon-gradient_24px { content: '\e834'; }
i.icon-stopwatch { content: '\e835'; }
i.icon-th-thumb { content: '\f00a'; }
i.icon-color-adjust { content: '\f020'; }
i.icon-vector { content: '\f045'; }
i.icon-fontsize { content: '\f088'; }
i.icon-link-ext { content: '\f08e'; }
i.icon-docs { content: '\f0c5'; }
i.icon-list-bullet { content: '\f0ca'; }
i.icon-paste { content: '\f0ea'; }
i.icon-doc-text { content: '\f0f6'; }
i.icon-angle-down { content: '\f107'; }
i.icon-folder-empty { content: '\f114'; }
i.icon-folder-open-empty { content: '\f115'; }
i.icon-code { content: '\f121'; }
i.icon-link-ext-alt { content: '\f14c'; }
i.icon-trash-1 { content: '\f1f8'; }
i.icon-font-awesome { content: '\f2b4'; }