#store-list
{
	margin-right: -1px;	
	margin-top: 8px;
	flow: row(div, div);
	border-spacing: 25px;
}
#store-list div
{
	width: *;
	padding: 4px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background-color: #f8f8f8;
}
#store-list div.loading
{
	foreground: url(../img/loaders/busy.gif) center no-repeat;
	foreground-color: rgba(255, 255, 255, 0.84);
}
#store-list div:hover
{
	background-color: #f5f5f5;
	cursor: pointer;
}
#store-list div img
{
	width: *;
}
#store-list div img:busy { foreground: url(../img/loaders/loading.png) center no-repeat; }
#store-list div h2
{
	margin: 10px 0 4px 5px;
	font-size: 14px;
	color: #888597;
}
#store-list div:hover h2 { color: #635f79; }

#btn-store-load
{
	display: block;
	margin: 20px *;
}