/*@font-face
{
	font-family: 'alphanum20';
	src: url(fonts/alphanum20.ttf);
}

@font-face
{
	font-family: Hack;
	src: url(fonts/Hack-Regular.ttf);
}
@font-face
{
	font-family: Hack;
	font-weight: bold;
	src: url(fonts/Hack-Bold.ttf);
}

@font-face
{
	font-family: 'Shumi';
	src: url(fonts/Shumi.otf);
}

@font-face
{
	font-family: 'Montserrat';
	src: url(fonts/Montserrat-Regular.otf);
}
@font-face
{
	font-family: 'Montserrat';
	font-weight: 500;
	src: url(fonts/Montserrat-Medium.otf);
}
@font-face
{
	font-family: 'Montserrat';
	font-weight: 600;
	src: url(fonts/Montserrat-SemiBold.otf);
}
@font-face
{
	font-family: 'Montserrat';
	font-weight: bold;
	src: url(fonts/Montserrat-Bold.otf);
}
@font-face
{
	font-family: 'Montserrat';
	font-weight: bolder;
	src: url(fonts/Montserrat-Black.otf);
}

@font-face
{
	font-family: 'Rokkitt';
	src: url(fonts/Rokkitt-Regular.ttf);
}

@font-face
{
	font-family: 'Abril Fatface';
	src: url(fonts/AbrilFatface-Regular.ttf);
}*/